<meta name="description" content="何でもかんでも作りたい人" />
<meta property="og:description" content="何でもかんでも作りたい人" />
<meta property="og:image" content="https://kurukuru-bocci.com/img/kurukurubocci.jpg" />
<meta name="application-name" content="くるくるぼっち" />
<meta name="apple-mobile-web-app-title" content="何でもかんでも作りたい人" />
<meta name="theme-color" content="#ffffff" />
<meta name="p:domain_verify" content="7e5304b81b53bdf741ca423767db3630" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ "brand/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "brand/favicon-32x32.png" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "brand/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ "site.webmanifest" | relURL }}">
<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}" color="#5bbad5">
