<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="mx-2">
    <a href="https://twitter.com/kurukuruiroha" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-twitter icon"></i>
    </a>
  </div>
  <div class="mx-2">
    <a href="https://www.instagram.com/kurukuru_bocci/" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-instagram icon"></i>
    </a>
  </div>
  <div class="mx-2">
    <a href="https://www.youtube.com/c/%E3%81%8F%E3%82%8B%E3%81%8F%E3%82%8B%E3%81%BC%E3%81%A3%E3%81%A1" target="_blank" rel="noopener noreferrer">
      <i class="bi bi-youtube icon"></i>
    </a>
  </div>
</div>